@import "tailwindcss";

@theme {
  --color-green-500: oklch(44.21% 0.1504 142.5);
  --color-green-300: oklch(73.23% 0.2491 142.5);
  --color-red-700: oklch(42.89% 0.1759 29.23);
  --color-red-500: oklch(57.89% 0.2375 29.23);
  --color-grey-900: oklch(26.86% 0 0);
  --color-grey-800: oklch(43.86% 0 0);
  --color-grey-700: oklch(37.15% 0 0);
  --color-grey-600: oklch(38.67% 0 0);
  --color-grey-500: oklch(68.3% 0 0);
  --color-grey-400: oklch(59.99% 0 0);
  --color-grey-300: oklch(68.3% 0 0);
  --color-grey-250: oklch(78.26% 0 0);
  --color-grey-200: oklch(80.47% 0 0);
  --color-grey-200-50: oklch(80.47% 0 0 / 0.5);
  --color-grey-100: oklch(88.53% 0 0);
  --color-blue-900: oklch(42.91% 0.0989 240.44);
  --color-blue-800: oklch(46.31% 0.0899 227.64);
  --color-blue-300: oklch(60.13% 0.1179 228.54);
  --color-blue-200: oklch(61.95% 0.121 228.16);
  --color-dark-cyan-900: oklch(48.43% 0.0873 218.72);
  --color-dark-cyan-800: oklch(51.37% 0.0878 206.24);
  --color-dark-cyan-600: oklch(51.32% 0.0859 209.86);
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.nav-transition-fade {
  transition-property: background-color, color, stroke;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

.notification-transition {
  transition-property: translate;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

.products-page {
  display: flex;
  width: 100%;
  height: 100%;
  padding-block: 3rem;
}

.product-table-head {
  height: 2.75rem;
  padding: 0.625rem;
}

.product-table-head > tr {
  display: flex;
  gap: 0.625rem;
}

.product-table-head > tr > th {
  display: flex;
  align-items: center;
  min-width: 6.25rem;
  width: 100%;
  font-weight: 500;
}

.product-table-head > tr > th:first-child {
  width: 6.25rem;
  flex-shrink: 0;
}

.product-table-body {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  padding-inline: 0.625rem;
}

.product-table-body-row {
  display: flex;
  gap: 0.625rem;
  font-size: 0.875rem;
}

.product-table-body-row > td {
  display: flex;
  align-items: center;
  min-width: 6.25rem;
  width: 100%;
}

.product-table-body-row > td:first-child {
  width: 6.25rem;
  flex-shrink: 0;
}

.product-image-input {
  display: grid;
  grid-template-areas: "stack";
  aspect-ratio: 1;
  height: fit-content;
  width: 100%;
  min-height: 0;
  max-height: 25rem;
  max-width: 25rem;
  overflow: hidden;
}

.product-image-input > label {
  grid-area: stack;
  transition-property: background-color;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
  z-index: 10;
}

.product-image-input > img {
  grid-area: stack;
  width: 100%;
  height: 100%;
  min-height: 0;
  object-fit: cover;
}
